include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Ferrer, E. (1994). Comunicación, expresión y lenguaje. https://studylib.es/doc/6218953/citado-en-ferrer-1994--21", "")

        +referenciaItem("Fonseca Yerena, M., Correa Perez, A., Pineda Ramirez, M., & Lemus Hernandez, F. (2011). Comunicación oral y escrita. México: Pearson Educación.", "")

        +referenciaItem("Roca -Pond,J. (1973). El lenguaje. España: Teide.", "")